@model CompanyAgreement.modelview.CompanyListViewModel
@{
    ViewData["Title"] = "ListCompany";
    Layout = "~/Views/Shared/_AdminLayoutList.cshtml";
}

<div class="card">
    <div class="card-header">
        <label>Firma Listesaaaai</label>
    </div>
    <div class="col-md-12" @*style="text-align-last: center;"*@ style="margin-left: 10px; margin-top: 5px; ">
        <div class="card-content">
            <div class="row" style="align-content:flex-start">

                <div class="col-sm-3">
                    <!-- select -->
                    <div class="form-group">
                        <label>Firmaların Onay Durumu</label>
                        <select class="form-control" id="Situations">

                            <option value="space">Seçiniz</option>
                            <option value="Olumlu">K1-Olumlu</option>
                            <option value="Olumsuz">K2-Olumsuz</option>
                            <option value="Cevap Bekleniyor">K4-Bekleme Aşaması</option>

                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <!-- select -->
                    <div class="form-group">
                        <label>Kamu/Özel Durumu</label>
                        <select class="form-control" id="PublicPrivate">
                            <option value="space">Seçiniz</option>
                            <option value="Kamu">Kamu</option>
                            <option value="Özel">Özel</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <!-- select -->
                    <div class="form-group">
                        <label>Konuma Göre</label>
                        <select class="form-control" id="Location">

                            <option value="space">Seçiniz</option>

                            @foreach (var item in Model.ContractInformation)
                            {
                                <option value="@item.Province">
                                    @item.Province
                                </option>
                            }

                        </select>
                    </div>
                </div>


                <div class="col-sm-3" @*style="align-self: center; float: left text-align-last: center;"*@>
                    <label></label>
                    <div class="form-group">
                        <button style="height:45px" type="button" id="filterCompanyAdmin" class="btn btn-info  swalDefaultInfo">
                            Filtrele
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <!-- select -->
    <!-- /.card-header -->




    <div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th> 
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody></tbody></table>
        <table id="CompanyListele" class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Firma Adı</th>
                    <th>Kamu/Özel Durumu</th>
                    <th>Anlaşma Durumu</th>
                    <th>Görüşme Tarihi</th>
                    <th>İlgili Kişi</th>
                    <th>Bulunduğu İl</th>
                    <th>Düzenle</th>

                </tr>
            </thead>

@*

            <tbody>

                @for (int i = 0; i < Model.Company.Count; i++)
                {
                    <tr>
                        <td>@Model.Company[i].CompanyName</td>
                        @if (@Model.Company[i].PublicPrivate)
                        {
                            <td>Özel</td>
                        }
                        }
                        else
                        {
                        <td>Kamu</td>
                        }
                        <td>@Model.ContractSituation[i].Situation </td>
                        <td>@Model.Company[i].MeetingDate</td>
                        <td>@Model.CompanyInformation[i].Name  @Model.CompanyInformation[i].Surname</td>
                        <td>@Model.ContractInformation[i].Province / @Model.ContractInformation[i].District </td>
                        <td>
                            <a class="btn btn-app">
                                <i class="fas fa-edit"></i> Düzenle
                            </a>
                        </td>

                    </tr>
                }

            </tbody>
*@

        </table>
    </div>



    @*                @for (int i = 0; i < Model.Company.Count; i++)
        {
        <tr>
        <td>@Model.Company[i].CompanyName</td>
        @if (@Model.Company[i].PublicPrivate)
        {
        <td>Özel</td>
        }
        else
        {
        <td>Kamu</td>
        }
        <td>@Model.ContractSituation[i].Situation </td>
        <td>@Model.Company[i].MeetingDate</td>
        <td>@Model.CompanyInformation[i].Name  @Model.CompanyInformation[i].Surname</td>
        <td>@Model.ContractInformation[i].Province / @Model.ContractInformation[i].District </td>
        <td><a class="btn btn-app">
        <i class="fas fa-edit"></i> Düzenle
        </a> </td>

        </tr>
        }*@

</div>


<div class="modal fade" tabindex="-1" role="dialog" id="updateCompany">
    <div class="modal-dialog" style="margin-left: 20rem; margin-top: 3rem; margin-bottom: 3rem; margin-right: 10rem;">
        <div class="modal-content" style="width: 1050px;     padding: 15px;">
            <form id="updateCompanyForm">
                <div class="container-fluid">
                    <br />
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Görüşülen Kişinin Bilgileri</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <input class="form-control" id="CompanyInformation_Name" type="text" placeholder="Ad">
                                            <br>
                                            <input class="form-control" id="CompanyInformation_Surname" type="text" placeholder="Soyad">
                                            <br>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input type="email" id="CompanyInformation_mail" class="form-control" placeholder="Email">
                                            </div>
                                            <label>Görüşülen Tarih</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input id="MeetingDate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <!-- phone mask -->
                                        <div class="form-group">
                                            <label>Telefon</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                </div>
                                                <input id="CompanyInformation_GSM" type="text" class="form-control"
                                                       data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Anlaşma Durumu</label>
                                            <select id="Situation" class="custom-select">
                                                <option value="-1">Seçiniz</option>
                                                <option value="Olumlu">Olumlu</option>
                                                <option value="Olumsuz">Olumsuz</option>
                                                <option value="Cevap Bekleniyor">Cevap Bekleniyor</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <input class="form-control" id="CompanyAuthority_SGKNO" type="text" placeholder="SGK Numarası">
                                            <br>
                                            <input class="form-control" id="CompanyAuthority_TaxNumber" type="text" placeholder="Vergi Numarası">
                                            <br>
                                            <label>Kontrakt Tarihi</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                <input id="CompanyAuthority_ContractDate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                            </div>

                                        </div>



                                    </div>



                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.card -->

                <div class="row">

                    <!-- /.col (left) -->
                    <div class="col-md-6">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Firma Bilgileri</h3>
                            </div>
                            <div class="card-body">
                                <!-- Date range -->
                                <div class="form-group">

                                    <label>Firmanın Adı</label>

                                    <input id="CompanyName" class="form-control" type="text" placeholder="Firmanın Adı">


                                    <label>Website</label>

                                    <input id="Description" class="form-control" type="text" placeholder="Website">
                                    <label>Mail</label>
                                    <br>
                                    <input id="ContractInformation_Mail" type="email" class="form-control" placeholder="Email">

                                    <label>İletişim Numarası</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>

                                        <input id="ContractInformation_Gsm" type="text" class="form-control"
                                               data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask>
                                    </div>

                                    <div class="form-group">
                                        <label>Firma Çalışma Durumu</label>
                                        <select id="PublicPrivate" class="custom-select">
                                            <option>Kamu</option>
                                            <option>Özel</option>

                                        </select>
                                    </div>



                                </div>
                                <!-- /.form group -->
                                <!-- /.form group -->

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-md-6">

                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Firma Adres Bilgisi</h3>
                            </div>
                            <div class="card-body">
                                <!-- Date dd/mm/yyyy -->
                                <div class="form-group">
                                    <label>Firmanın Açık Adresi</label>
                                    <input id="ContractInformation_Adress" class="form-control" type="text" placeholder="Firmanın Açık Adresi">
                                    <br>

                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label">İl</label>
                                        <div class="col-sm-11">
                                            <input id="ContractInformation_Province" class="form-control" placeholder="İl">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-1 col-form-label">İlçe</label>
                                        <div class="col-sm-11">
                                            <input id="ContractInformation_District" class="form-control" placeholder="İlçe">
                                        </div>
                                    </div>

                                    <div class="form-group" style="visibility : hidden">
                                        <input type="text" class="form-control" id="CompanyId">
                                    </div>

                                </div>


                            </div>
                            <!-- /.card-body -->
                        </div>


                    </div>
                    <!-- /.col (right) -->
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            <button type="button" class="btn btn-primary" id="CompanyUpdateButton">Güncelle</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->